/*
* Main.scss
*
*/

// ======================================
//
// Import 3rd pary files or frameworks/libraries
//
// ======================================
@import "vendors/bourbon/bourbon";
@import "vendors/normalize";
// ======================================
//
// Base Styles
//
// ======================================
//
// Makes sure all the CSS divs work with box-sizing "border-box"
//
@import "base/base";
//
// Defines how the list view and conversation are positioned on the site
//
@import "base/layout";


header{
	background: rgba(black, 0.5);
	padding: 20px;
}

body{
	background: white;
}

.btn{
	padding: 10px;
}

.page{
	padding: 20px;
}

.list-item{
	background: rgba(gray, 0.5);
	padding: 10px;
	border-radius: 3px;
	width: 100px;
	margin: 10px 0px;
	cursor: pointer;
	&:hover{
		background: rgba(gray, 0.9);
	}
}

.list-wrapper{
	&:empty{

		&:after{
			content: "No chat rooms created. Click button above";
			color: rgba(black, 0.5);
		}
		
	}
}


.link{
	margin-right: 20px;
	&:hover{
		color: yellow;
	}
}